@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
/* css 리셋 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  list-style: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  position:relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
  border:none;
}

/* 여기서부터 찐코딩 */
.hide{
  display:none;
}

/* header */
nav{
  display:flex;
  align-items:center;
  justify-content: space-between;
  width:100vw;
  height:80px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  position:fixed;
  z-index:99;
  background-color:white;
}

.logo{
  cursor: pointer;
}

.h1 {
  display:inline-block;
  font-weight: 700;
  font-size:32px;
  line-height:1;
  margin-left:12px;
  font-family: 'Inter', sans-serif;
}

.nav_logo{
  margin-left:76px;
  background:url(./logo.png) no-repeat center;
  background-size:cover;
  display:inline-block;
  width:55px;
  height:30px;
}

.menu{
  position:relative;
}
.menu_icon{
  display:inline-block;
  width:30px;
  height:20px;
  background: url(./img/menu_hamburger.png) no-repeat center;
  background-size:cover;
  margin-right:78px;
  cursor:pointer;
}

.hide{
  display:none;
}

.menu_list{
  position:absolute;
  top:45px;
  left:-125px;
  background-color:white;
  border-radius:12px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
}

.menu_list:before{
  content:"";
  position:absolute;
  top:-18px;
  right:54px;
  background:url(./img/Polygon.png) no-repeat center;
  background-size: cover;
  width:16px;
  height:18px;
}
.menu_list li{
  text-align:center;
  padding: 13px 10px 12px 10px;
  width:180px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  cursor:pointer;
}


.menu_list li:nth-child(2):before{
  content:"";
  background:url(./img/menu_product.png) no-repeat center;
  background-size: cover;
  width:20px;
  height:20px;
  display:inline-block;
  vertical-align: middle;
  margin-right:8px;
}

.menu_list li:nth-child(3):before{
  content:"";
  background:url(./img/menu_bookmark.png) no-repeat center;
  background-size: cover;
  width:20px;
  height:20px;
  display:inline-block;
  vertical-align: middle;
  margin-right:8px;
}

/* footer */
footer {
  width:100vw;
  height:58px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:12px;
  font-weight: 400;
  color:#888;
  flex-direction: column;
  background-color: white;
}

.footer{
  cursor:pointer;
}

/* Card */
.card_box{
  font-size:16px;
  width:264px;
}
.img_wrap{
  position: relative;
}

.icon_bookmark{
  position: absolute;
  bottom: 12px;
  right:12px;
  width:24px;
  height: 24px;
  cursor:pointer;
}

.bookmark_off{
  background: url(./img/bookmark_off.png) no-repeat center;
  background-size:cover;
}

.bookmark_on{
  background: url(./img/bookmark_on.png)no-repeat center;
  background-size:cover;
}


.card_titles{
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.card_img{
  background-size: cover;
  width:100%;
  height:210px;
  position: relative;
  border-radius:12px;
}

.card_details{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

/* Main Page*/
section{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.main_section_product{
  padding-top:104px;
}

h2{
  width:1128px;
  font-weight: 600;
  font-size:24px;
  margin-bottom:12px;
}

h2:after{
  content:"";
  clear:both;
  display:block;
}

.cardlist_wrap{
  display:flex;
  justify-content:left;
  width:1128px;
}

.cardlist_wrap li{
  margin-right:24px;
}

/* category */
.category_section{
  padding:0;
  width:100vw;
  display:flex;
  justify-content:center;
}

.category_wrap{
  display:flex;
  padding-top:104px;
}

.category{
  margin-left:36px;
  text-align:center;
  cursor:pointer;
}

.category:before{
  content:"";
  display:block;
  margin-left:0;
  width:82px;
  height:82px;
  margin-bottom:6.5px;
}

.category:first-child{
  margin-left:0;
}

.category:first-child:before{
  background:url(./img/category_all.png)no-repeat center;
  background-size:cover;
}

.category:nth-child(2):before{
  background:url(./img/category_product.png)no-repeat center;
  background-size:cover;
}

.category:nth-child(3):before{
  background:url(./img/category_category.png)no-repeat center;
  background-size:cover;
}
.category:nth-child(4):before{
  background:url(./img/category_marketing.png)no-repeat center;
  background-size:cover;
}
.category:nth-child(5):before{
  background:url(./img/category_brand.png)no-repeat center;
  background-size:cover;
}

/* product list page */
.product_list_section{
  margin-top:26.5px;
}

.productlist_wrap{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

